.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(45deg, hsl(266, 83%, 36%) 30%, #1362eb 90%);
}

.login-items {
  width: 85%;
}

.google-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  width: 70%;
}

.login-card {
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
